html, body {
  padding: 0;
  margin: 0;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
}

p {
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
}

h1 {
  font-size: 27px;
}

.section-content h1 {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 50px;
}

h1 {
  font-size: 27px;
  font-family: 'myriad-pro', sans-serif;
  font-weight: 600;
}

.hero-content h1 {
  font-family: 'myriad-pro-condensed', sans-serif;
  font-weight: 800;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: 0.2s;
}

.scrolled {
  background: #fff;
  padding-bottom: 25px;
  transition: 0.2s;
}

.scrolled-logo {
  height: 75px !important;
  transition: 0.2s;
}

.header .container {
  margin-top: 25px;
}

.header ul li {
  text-transform: uppercase;
  list-style: none;
  padding: 20px;
  display: inline-block;
  color: #004A98;
  font-weight: 700;
  font-family: sans-serif;
  cursor: pointer;
}

.header ul {
  margin: 0;
  padding: 0;
  float: right;
}

.big-header ul li a {
  color: #004A98;
  text-decoration: none;
  transition: 0.2s;
}

.big-header ul li a:hover {
  color: #00A6CE;
  transition: 0.2s;
}

.big-header.row {
  display: none;
}

.mobile-header {
  display: flex;
}

.logo img {
  height: 150px;
  transition: 0.2s;
}

.logo-small img {
  height: 100px;
  transition: 0.2s;
}

/* Mobile Menu */

@media screen and (min-width: 800px) {
  .mobile-header {
    display: none !important;
  }

  .big-header {
    display: flex !important;
  }
} */

.mobile-menu {
  position: relative;
}

.mobile-header .logo-small {
  display: inline-block;
  padding-left: 25px;
}

.mobile-header nav {
  display: inline-block;
}

.hamburger {
  position: relative;
  float: right;
  outline: none;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  background-color: #004A98;
}

.mobile-menu-ul {
  display: none;
  position: absolute;
  right: 75px;
  top: 20px;
  background: #004A98;
}

.mobile-menu-ul li {
  display: block !important;
  transition: 0.2s;
}

.mobile-menu-ul li:hover {
  background: #00A6CE;
  transition: 0.2s;
}

.mobile-menu-ul li a {
  text-decoration: none;
  color: #fff;
}


.container {
  max-width: 1280px;
}

.content-container {
  padding: 0;
  margin: 0;
}

.hero-container {
  position: relative;
}

@media screen and (max-width: 800px) {
  .hero-content {
    padding-top: 50px;
  }
}

.section-content, .hero-content {
  text-align: center;
  color: #002649;
  width: 90%;
}

@media screen and (min-width: 800px) {
  .section-content, .hero-content {
    width: 50%;
  }
}

.section-content h1 {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 50px;
}

.section-container {
  position: relative;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-bar {
  height: 2px;
  width: 50px;
  background: #004A98;
  margin: 30px auto;
}

/** Contact **/

.phone-link {
  color: #002649;
  text-decoration: none;
}

.direct-contact {
  margin-top: -50px;
  text-align: center;
  margin-bottom: 30px;
}

.direct-contact > .phone-container, .direct-contact > .email-container {
  text-align: center;
}

@media screen and (min-width: 800px) {
  .direct-contact > .phone-container, .direct-contact > .email-container {
    text-align: left;
  }
}

.contact-container {
  margin: 25px;
  text-align: left;
}

.contact-container i {
  margin-right: 25px;
  font-size: 24px;
  color: #00A6CE;
}

.form-row {
  margin-top: 60px;
}

.inner-form-row {
  width: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

input {
  display: block;
  box-sizing: border-box; /* add this */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #6CCA98;
}

input[type=submit] {
  border-radius: 25px;
  background: #6CCA98;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.2s;
}

.btn {
  border-radius: 25px;
  background: #6CCA98;
  color: #fff;
  transition: 0.2s;
  padding: 10px;
  width: 25%;
  display: inline-block;
  margin: 10px;
}

.btn:hover {
  transform: scale(1.05);
  transition: 0.2s;
  cursor: pointer;
  background: #00A6CE;
}

.remove-btn {
  background: #D67068 !important;
}

.form-heading {
  margin-top: 25px;
  margin-bottom: 25px;
}

input[type=submit]:hover, {
  transform: scale(1.05);
  transition: 0.2s;
  cursor: pointer;
  background: #00A6CE;
}

textarea {
  width: 100%;
  height: 150px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.private-form-content {
  margin-top: 125px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #004A98;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Select styling */

.styled-select {
 position: relative;
 width:100%;
 height: 45px;
 overflow: hidden;
 background: #fff;
 border: 1px solid #6CCA98;
 margin-bottom: 20px;
}

.styled-select::after {
  z-index: 1;
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border-top: 7px solid #6CCA98;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.styled-select select{
   position: relative;
   z-index: 2;
   background: transparent;
   width: calc(100%);
   height: 45px;
   padding: 5px 5px 5px 10px;
   font-size: 14px;
   line-height: 1;
   color: #777;
   border: 0;
   border-radius: 0;
   cursor: pointer;
   outline: none;
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
}

/** Validation **/
input.valid, select.valid {
  background: url('../img/form-check.png') no-repeat right;
}

input.error, select.error {
  background: url('../img/form-bad.png') no-repeat right;
}

.help-block {
  display: none;
}

/** Table **/
table {
  border: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #F4F7F9;
  border: 0;
  padding: 10px;
}
table tr:nth-child(odd) {
    background-color: #fff;
}
table th,
table td {
  padding: 10px;
  text-align: center;
}
table th {
  font-size: 10px;
  letter-spacing: .1em;
  text-transform: uppercase;
  background: #00A6CE;
  color: #fff;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #00A6CE;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

#submit:hover {
cursor: pointer;
}
